NODE_ENV=development

#App
APP_NAME="Task Management"
SERVER_PORT=4000
DEBUG_SQL=1
ENABLE_LOGGING=1
ALLOWED_HOSTS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:8081,http://localhost:27017,https://3.128.106.106:3000
SLACK_WEBHOOK=

#Tokens
TOKEN_EXPIRY=7d
REMEMBERED_TOKEN_EXPIRY=10d
REFRESH_TOKEN_EXPIRY=30d
RESET_TOKEN_EXPIRY=30m
JWT_PASSPHRASE="TM@11"
JWT_TOKEN_EXPIRY=10d

#Database
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=task_management

#Email
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USERNAME=
MAIL_PASSWORD=

#minio
STORAGE_BUCKETS=project-pictures,project-videos,avatars
STORAGE_ENDPOINT=localhost
STORAGE_PORT=9000
STORAGE_SSL=''
STORAGE_REGION=

# Bucket Name
PROJECT_PICTURES_BUCKET=project-pictures
PROJECT_VIDEOS_BUCKET=project-videos
AVATARS_BUCKET=avatars
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin